<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Retsly App</title>
  <link rel="stylesheet" href="css/base.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="javascripts/base.js" type="text/javascript" charset="utf-8"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnBo_OFStBS2gl_-vUxnvcynrGds9rEJQ&libraries=places&callback=initMap"></script>

</head>
<body>
  <h3>Restly App</h1>
  <br><hr><br>
  <table id="search_terms">
    <thead>
      <tr>
        <td>
          Caltrain Lookup
        </td>
        <td>
          Address Lookup
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" value="" id="caltrain_station_id_search">
          <button id="search_caltrain_stations">Submit</button>
          <p id="caltrain_info">&nbsp;</p>
        </td>
        <td>
          <input id="address_search" class="controls" type="text" placeholder="Search Box">
          <button id="search_addresses">Submit</button>
          <p id="address_info">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <br><hr><br>
  <div id="map-container">
    <div id="map"></div>
  </div>
</body>
</html>
