html, body {
  height: 100%;
  width: 100%;
}

#map-container {
  height: 75%;
  width: 100%;
  margin: 0 auto;
}

#map {
  height: 100%;
}

#search_terms td {
  padding: 0 25px;
}

#address_search {
  width: 500px;
  background-color: #233A43;
}
